{% extends 'counter/main.html' %}
{% block content %}
<div class="header-bar">
    <div style="padding: 10px;">
        <i><a href="{% url 'services' %}" style="padding: 0px; font-size: 20px; font-weight: bold;">Привет {{request.user}}</a></i>
        {% if count.sum_for_worker__sum == None%}
        <h3 style="margin: 0;"><i>Сумма за месяц: 0 р.</i></h3>
        {% else %}
        <h3 style="margin: 0;"><i>Сумма за месяц: {{count.sum_for_worker__sum}} р.</i></h3>
        {% endif %}
    </div>
    <div class="header-log">
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
        <a href="{% url 'login' %}">Войти</a>
        {% endif %}
    </div>
</div>

<div class="add-wrapper">
    <div class="search-area">
        <form method="GET" >
            <input type="month" name="search-area" value="{{search_input}}">
            <input style="margin: 0px 5px" type="submit" value="Поиск">
        </form>
    </div>
    <a class="add-link" href="{% url 'create-service' %}">Добавить</a>
    <a class="add-link" href="{% url 'typeofwork' %}">Список услуг</a>
</div>


<div id='serviceslist' class="services-items-wrapper">
    {% for service in services %}
        <div class="services-wrapper" style="text-align: justify;">
            {{service}} | Дата добавления: {{service.date_add|date:"d E y"}}<br>
            Цена: {{service.price}} р.<br>
            {% if service.sale %}
                Скидка: {{service.sale}}<br>
            {% else %}
            Без скидок<br>
            {% endif %}
            Сумма на руки: {{service.sum_for_worker}} р.
            <a class="delete-link" href="{% url 'service-delete' service.id %}">&#215</a>
        </div>
        <div class="services-settings">
<!--            <a href="{% url 'service' service.id %}">Просмотреть</a>-->
            <a href="{% url 'service-update' service.id %}">Изменить</a>
        </div>
    {% empty %}
    <h3 align="center">Нет записей</h3>
    {% endfor %}
</div>
<h3 class="text-head" style="text-align: center; border-top: 1px solid #dfe4ea;">Список последних услуг</h3>

{% endblock content %}

