{% extends 'counter/main.html' %}
{% block content %}
<div class="header-bar">
    <h3>Список услуг</h3>
    <a href="{% url 'services' %}">Назад</a>
</div>
<div class="add-wrapper">
     <a class="add-link" href="{% url 'work_create' %}">Добавить</a>
</div>

<div id='serviceslist' class="services-items-wrapper">
    {% for work in typeofwork %}
        <div class="work-wrapper" style="text-align: justify;">

    {{work.title}} |
    {{work.fix_percent}} %
            <a class="delete-link" href="{% url 'work_delete' work.id %}">&#215</a>
    </div>
     <a style="padding-left: 15px;" href="{% url 'work_update' work.id %}">Изменить</a>

    {% empty %}
            <h3 align="center">Нет записей</h3>
    {% endfor %}
</div>
{% endblock content %}